/* RESET */
*{
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}

a:hover {
  opacity: 1;
}

/* HEADER */
header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #fff;
}

header img {
  width: 200px;
}

header nav {
  display: flex;
}

header li a {
  color: #191c03;
}

header li{
  margin: 0 15px;
}

header li:first-child {
  margin-left: 0;
}

header li:last-child {
  margin-right: 0px;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }

  header img {
    margin-bottom: 15px;
  }
}

/* HERO */
.hero {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  min-height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero h1 {
  font-size: 3.2rem;
  margin-bottom: 15px;
}

.hero h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.hero .btn {
  background-color: #fff;
  border-radius: 4px;
  color: #191c03;
  padding: 20px 50px;
  text-transform: uppercase;
}

@media (max-width: 700px) {
  .hero h1 {
    font-size: 2.5rem;
    margin-top: 50px;
  }

  .hero h3 {
    font-size: 1.5rem;
  }
}

/* CONHECA */
.conheca {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
}

.conheca h3 {
  font-size: 2rem;
  margin-bottom: 35px;
  text-align: center;
  color: #191c03;
}

.conheca p {
  max-width: 800px;
  margin-bottom: 35px;
  text-align: center;
  color: #191c03;
}

.conheca hr {
  width: 200px;
  height: 2px;
  background-color: #191c03;
  margin-bottom: 70px;
  border: none;
}

.conheca .grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
}

.conheca .grid li {
  height: 350px;
  padding: 20px;
  border-radius: 4px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.conheca .grid li.small {
  flex-basis: 40%;
}

.conheca .grid li.large {
  flex-basis: 60%;
}

@media (max-width: 700px) {
  .conheca .grid li.small, .conheca .grid li.large{
    flex-basis: 100%;
  }
}

/* CARACTERÍSITCAS */
.caracteristicas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
  background-color: #191c03;
}

.caracteristicas h3 {
  font-size: 2rem;
  margin-bottom: 35px;
  text-align: center;
  color: #fff;
}

.caracteristicas p {
  max-width: 800px;
  margin-bottom: 35px;
  text-align: center;
  color: #fff;
}

.caracteristicas hr {
  width: 200px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 70px;
  border: none;
}

.caracteristicas .grid {
  width: 100%;
  display: flex;
}

.caracteristicas .grid li {
  padding: 0 30px;
  text-align: center;
}

.caracteristicas .grid li i {
  color: #c3c63b;
  font-size: 3.5rem;
  margin-bottom: 30px;
}

.caracteristicas .grid li h4 {
  font-size: 1.5rem;
  color: #c3c63b;
  margin-bottom: 30px;
}

.caracteristicas .grid li p {
  color: #fff;
}

@media (max-width: 700px) {
  .caracteristicas .grid {
    flex-direction: column;
  }
}

/* NEWSLETTER */
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
}

.newsletter h3 {
  font-size: 2rem;
  margin-bottom: 35px;
  text-align: center;
  color: #c3c63b;
}

.newsletter p {
  max-width: 800px;
  margin-bottom: 35px;
  text-align: center;
  color: #c3c63b;
}

.newsletter hr {
  width: 200px;
  height: 2px;
  background-color: #c3c63b;
  margin-bottom: 70px;
  border: none;
}

.newsletter form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  max-width: 800%;
}

.newsletter form input {
  padding: 15px;
  border: 1px solid #c3c63b;
  border-radius: 4px;
  margin-right: 15px;
  flex: 1;
}

.newsletter form button {
  padding: 15px;
  background-color: #c3c63b;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .newsletter form input {
    flex-basis: 100%;
    margin-bottom: 15px;
  }
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  background-color: #191c03;
  padding: 50px 0;
  align-items: center;
}

footer ul {
  display: flex;
  margin-bottom: 25px;
}

footer ul li {
  margin-right: 10px;
}

footer ul li:last-child {
  margin-right: 0;
}

footer ul li a {
  color: #c3c63b;
  font-size: 2rem;
}

footer p {
  color: #c3c63b;
  text-align: center;
}